<!DOCTYPE html>
<html lang="en">
    <%- include header %>
<body>

    <%- include nav %>
  <div class="container">
    <div class="row" id="card-container">
        <%- include loader %>
      </div>
    </div>
</body>

</html>