<!DOCTYPE html>
<html lang="en">
    <%- include header %>
<body>

    <%- include nav %>

    <div class="container" style="padding-top:  50px;">
    <div class="row" id="card-container">
        <%- include loader %>
     
      </div>
    </div>
</body>





</html>