<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Analypix</title>
  <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="/javascripts/materialize.min.js"></script>
  <script src="/javascripts/main.js"></script>
</head>

<body>
  <div class="container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Analypix</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="\">首頁</a>
          </li>
          <li>
            <a href="\login">登入</a>
          </li>
          <li>
            <a href="\register">註冊</a>
          </li>
          <li>
            <a id="btnLogout">登出</a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a href="/upload" class="btn-large">+</a>
          </li>
          <li>
            <span id="userName"></span>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row" id="card-container">
    </div>
</body>

</html>