<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Analypix</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="\">首頁</a>
                    </li>
                    <li>
                        <a href="\login">登入</a>
                    </li>
                    <li>
                        <a href="\signup">註冊</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="" class="btn-large">+</a>
                    </li>
                    <li>
                        <span id="userName"></span>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <h5 class="center light-blue-text text-darken-1">登入
            </h5>
            <div class="input-field col s12 m12">
                <input class="validate" type="email" id="textEmail">
                <label for='email'>註冊信箱</label>
            </div>
            <div class="input-field col s12 m12">
                <input type="password" id="textPassword">
                <label for='password'>輸入密碼</label>
            </div>
            <button id="btnLogin" class="btn waves-effect col s12 m4">登入
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</body>

</html>