<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav') %>
    <div class="container">
      <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="posts">
              <div class="img-container center">
                  <img src="http://fakeimg.pl/250x250/ff0000" alt="" class="center">
              </div>
                <div class="user-container">
                  <a href="">
                      <span>userAccount</span>
                  </a>
                </div>
                <div class="location-container">
                  <a href=""><!-- catch every post location -->
                      <span><i class="material-icons">location_on</i>Taipei</span>
                  </a>
                </div>
                <div class="tag-container">
                  <a href="">#tag</a>
                  <a href="">#tag</a>
                  <a href="">#tag</a>
                </div>
              </div>
        </div>
        <div class="col s3"></div>
      </div>

    </div>
    <%- include('footer') %>
  </body>
</html>