<!DOCTYPE html>
<html lang="en">

        <%- include header %>

<body>
        <%- include nav %>
    <div class="container">
        <div class="row">
            <div class="col m3"></div>
            <div class="col m6 center">
                <h5 class="light-blue-text text-darken-1">註冊
                </h5>
                <div class="input-field col s12 m12">
                    <label for='email'>信箱</label>
                    <input class="validate" type="email" id="textEmail">
                </div>
                <div class="input-field col s12 m12">
                    <label for='password'>密碼</label>
                    <input type="password" id="textPassword">
                </div>
                <button id="btnSignUp" class="btn waves-effect col s12">註冊
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col m3"></div>
        </div>
    </div>
</body>

</html>