<!DOCTYPE html>
<html>
  <head>
    <title>Analypix</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="navbar-wrapper">
        <a href="" class="brand-logo center">
          <img src="/camera-72-183025.png" alt="">
        </a>
        <ul class="right">
          <li><a href="" class="btn">登入</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <h2 class="center">相關圖片</h2>
        <div class="row">
            <% for (var i = 0; i <= 8; i++) { %>
            <div class="related card col m4">
                <div class="card-image">
                    <img src="http://fakeimg.pl/250x250/ff0000" alt="">
                    <a href="">
                        <span class="card-title">
                            #tag
                        </span>
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <footer class=" page-footer center">
        <div class="footer-copyright">
            <div class="container">
            © Copyright 
            </div>
        </div>
    </footer>
  </body>
</html>
