<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
    <script src="/javascripts/dropzone.js"></script>
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dropzone.css' />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDVrl8FfoWdE4rMgv3Rls9gbeEixmgmHlM&sensor=false&libraries=places"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/map.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Analypix</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/upload" class="btn-large" id="addButton">+</a>
                </li>
                <li>
                    <a href="" id="userName"></a>
                </li>
                <li>
                    <a href="\login">登入</a>
                </li>
                <li>
                    <a href="\register">註冊</a>
                </li>
                <li>
                    <a id="btnLogout">登出</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col m3"></div>
            <div class="col m6 center">
                <h5 class="center light-blue-text text-darken-1">
                    新增圖片
                </h5>
                <br />
                <div id="upload-container">
                    <input type="file" name="file" id="fileInput" accept="image/*">
                    <div id="map-container">
                        <input id="autocomplete" placeholder="輸入地址" type="text">
                    </div>
                    <div id="map-canvas" style="width:100%; height:200px; display:none;"></div>
                    <button class="btn" id="btnUpload">Upload</button>
                </div>
            </div>
            <div class="col m3"></div>
        </div>
    </div>

</body>

</html>