<!DOCTYPE html>
<html lang="en">

  <%- include header %>

<body>
        <%- include nav %>
    <div class="container">
        <div class="row">
            <div class="col m3"></div>
            <div class="col m6 center">
                <h5 class="center light-blue-text text-darken-1">
                    新增圖片
                </h5>
                <br />
                <div id="upload-container">

                        <div class="file-field input-field">
                                <div class="btn">
                                  <span>File</span>
                                  <input type="file" name="file" id="fileInput" accept="image/*">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                              

                    <div id="map-container">
                        <input id="autocomplete" placeholder="輸入地址" type="text">
                    </div>
                    <div id="map-canvas" style="width:100%; height:200px; display:none;"></div>
                    <button class="btn" id="btnUpload">Upload</button>
                </div>
            </div>
            <div class="col m3"></div>
        </div>
    </div>

</body>

</html>