<!DOCTYPE html>
<html lang="en">

        <%- include header %>

<body>
        <%- include nav %>
    <div class="container">
        <div class="row" id="user-card-container">
                <img class="center" src='https://loading.io/spinners/cutiefox/lg.cutie-fox-spinner.gif' />
        </div>
    </div>
</body>

</html>