
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 微軟正黑體;
  
  }

.nav-wrapper {
    background-color: #26c6da !important;
  }


li {font-weight: 600;}